<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
</head>
<body>
<div id="inlogReg">
    <h1>Admin</h1>
    <p>
    <fieldset>
        <legend>Inloggen</legend>
        <label>Gebruikersnaam:<input type="text" placeholder="Naam of Email" required></label>
        <label>Wachtwoord:<input type="password" required></label>
        <!-- <button class="submit">inloggen</button> -->
        <a href="/profile/">Inloggen</a><br>
        <a href="/error/">Potentiele Foutmeldingen</a><br><br>
    </fieldset>
    </p>
</div>
<footer>
</footer>


</body>
</html>