<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Informatie</title>
</head>
<body>
<div>
    <h1>Welkom bij datingApp</h1>
    <p>de app waar je even luchtig een gesprek kunt voeren of een intieme relatie kunt opbouwen.
    <fieldset>
        <a href="/">Inloggen</a><br>
        <a href="/register/register">Registeren</a>
    </fieldset>
    </p>
</div>
<footer>
</footer>


</body>
</html>