<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registeren</title>
</head>
<body>

<div>
    <h1>Welkom bij datingApp</h1>
    <p>Om een match te vinden en berichten te kunnen versturen zijn er een aantal verplichte punten waaraan de gebruiker moet voldoen. Dit is
        belangrijk omdat we het voor alle gebruikers een veilige omgeving willen maken.<br><br>
        Mijn naam is: <label><input type="text" placeholder="Jamie" required</label> en ik ben geboren op: <label><input type="date" required</label>
        Ik ben op zoek naar:
        <label><input type="radio" name="opzoek" value="opzoek" requsired/>Een relatie</label>
        <label><input type="radio" name="opzoek" value="opzoek" required/>Vriendschap</label>
        <label><input type="radio" name="opzoek" value="opzoek" required/>Reisgenoot</label>
        <label><input type="radio" name="opzoek" value="opzoek" required/>Anders namelijk:</label> <input type="text">
    </p>

    <p>
        Om een goed voor de dag te komen is het belangrijk om een goede foto te uploaden, dit zullen de andere gebruikers enorm waarderen.
        <label>Upload een goede profiel foto: <input type="file" id="fileinput"/></label>
    </p>

    <p>
        Dit zijn de basis eisen, als je op voltooien klikt ga je akkoord met onze voorwaardes.<br>
        Zodra je registratie voltooid is kun jij je eigen profiel verder aanvullen om betere matches en meer mensen te ontmoeten.<br>
        <a href="/profile/">Registratie voltooien</a>
    </p>
</div>

</body>
</html>