<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>datingApp - Profiel: Karel</title>
</head>
<body>
<header>
    <img src="images/testProfielImg.jpg">
    Naam: Karel
    Leeftijd: 21 jaar
</header>

<div>
    <h1>Persoonlijke gegevens</h1>
    <p>Mijn vrije tijd besteed ik het liefst aan:
        <select>
            <option value="reizen">Reizen</option>
            <option value="sporten">Sporten</option>
            <option value="gamen">Gamen</option>
            <option value="uitgaan">Uitgaan</option>
        </select><br>
        Afhankelijk van de keuze die je gemaakt hebt komen daar meer opties bij.<br>
        Progressive enhancement of disclosure.
    </p>

    <h2>Gekozen Onderwerp (Sporten)</h2>
    <p>
        Ik sport <select>
        <option value="1-2">1 - 2 keer per week</option>
        <option value="3-4">3 - 4 keer per week</option>
        <option value="5-6">5 - 6 keer per week</option>
        <option value="meer">Meer dan 6 keer per week</option>
    </select> en ik doe aan wedstrijden <input type="radio" name="wedstrijd" value="wedstrijd" required/>Ja
                                        <input type="radio" name="wedstrijd" value="wedstrijd" required/>Nee <br>

        Ik ben op zoek naar iemand die: <select>
        <option value="1-2">Net zo fanatiek is</option>
        <option value="3-4">Ook van sport houd</option>
        <option value="5-6">Zelf ook sport</option>
        </select>
    </p>

    <a href="/profile/">Voltooien</a>

</div>


</body>
</html>