<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instellingen</title>
</head>
<body>
<div>
    <h2>Voorkeuren</h2>
    <p>Zijn je interesse's veranderd, wijzig hier de voorkeuren voor je matches.<br>
        <a href="">Wijzig</a></p>


    <h2>Profiel Instellingen</h2>
    <p>Hier kun je privacy instellingen aanpassen en je wachtwoord veranderen.<br>
        <a href="">Wijzig</a></p>

    <h2>Help</h2>
    <p>Gaat er wat fout met je account, of heb je vragen met betrekking tot de app.<br>
        <a href="">Help</a></p>
</div>

</body>
</html>