<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>datingApp</title>
</head>
<body>
<div id="inlogReg">
    <h1>Inloggen/Registeren</h1>
    <p>
    Welkom bij datingApp, de app waar je even luchtig een gesprek kunt voeren of een intieme relatie kunt opbouwen.
    <form method="post">
    <fieldset>
        <legend>Inloggen/Registreren</legend>

        <label>Email adres:<input type="text" name="email" placeholder="Email adres" required></label>
        <label>Wachtwoord:<input type="password" name="wachtwoord" required></label>
        <!-- <button class="submit">inloggen</button> -->
        <button>Inloggen</button>
        <a href="/error/">Potentiele Foutmeldingen</a><br><br>
        <a href="/register/register">Registeren</a>
        <!-- <button class="submit">registeren</button>-->
    </fieldset>
    </form>
    <a href="/register/info">Informatie over datingApp</a>
    </p>
</div>
<footer>
    <a href="/admin/">Admin</a>
</footer>


</body>
</html>