<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foutmeldingen</title>
</head>
<body>
<div>
    <h2>Niet bestaande gebruiker</h2>
    <p>
        Deze ingevoerde gegevens komen voor in onze database.
    </p>

    <h2>Verkeerd ingevoerde wachtwoord</h2>
    <p>
        Wachtwoord komt niet overeen met de bijbehorende gebruikersnaam.
    </p>

    <h2>Verkeerde gebruikersnaam</h2>
    <p>
        Deze combinatie is niet bij ons bekend.
    </p>
</div>

<div>
    <a href="/">Opnieuw Inloggen</a><br>
    <a href="/register/register">Registeren</a>
</div>
</body>
</html>