<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>datingApp - Profiel: Jason</title>
</head>
<body>
<header>
    <img src="images/jason.jpg">
    Naam: Jason
    Leeftijd: 23 jaar
</header>

<main>
    <h1>Gesprek</h1>
    <p>Jason is een leuke kerel, dus doe je best en maak een goede indruk. Na 2 keer wat gezegd te hebben ligt de bal bij Jason.
        Dus doe je best!</p>

    <textarea rows="4" cols="50"></textarea>
    <textarea rows="4" cols="50"></textarea><br>
    <a href="">Gesprek Starten</a>
</main>
<footer>
    <a href="block">Blokkeer gebruiker</a>
</footer>

</body>
</html>