<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>datingApp - Profiel: Maud</title>
</head>
<body>
<header>
    <img src="images/girl_05.jpg">
    Naam: Maud
    Leeftijd: 25 jaar
</header>

<div>
    <h1>Introductie</h1>
    <p>Hoi ik ben Maud! Ik woon in de omgeving van Leeuwaarden en ik studeer psychologie<br>
        Verder komt hier nog veel meer informatie over mijzelf als persoon en mijn hobbys.<br>
        Wat vind ik leuk om te doen etc. Zodat mensen mij beter kunnen leren kennen.</p>

        <a href="/users/chat02">Begin Gesprek</a>
</div>

<div>
    <h1>Accomplishments/Bucketlist</h1>
    <h2>Note to self: Misschien goed idee om mensen te laten matchen op bucketlists?</h2>
    <p>Hier kan een gebruiker aangeven of hij of zij wilt laten zijn wat er zoal bereikt is in het leven.<br>
        Voorbeeld: Wereldreis gemaakt, Parachute gesprongen, Bloed gedoneerd</p>

</div>

<footer>
    <h1>Foto's</h1>
    <img src="images/aap.jpg">
    <img src="images/paard.jpg">
    <img src="images/voedsel.jpg">
    <img src="images/peru.jpg">


</footer>

</body>
</html>